__pycache__/
offload/
.deploy_to_vertex.sh
dolly-v2-3b/
implement-demystify_prompt.ipynb

# Exclude locally installed dependencies
venv/

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore
.github


# Exclude git history and configuration.
.gitignore
.git

**/bin
**/obj
**/node_modules
