__pycache__/
training/
offload/
.deploy_to_vertex.sh
implement-demystify_prompt.ipynb/
cli_command/

# Exclude locally installed dependencies
venv/

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore
.github


# Exclude git history and configuration.
.gitignore
.git

**/bin
**/obj
**/node_modules
