joblib~=1.0
numpy~=1.20
scikit-learn~=0.24
google-cloud-storage>=1.26.0,<2.0.0dev

accelerate>=0.16.0,<1
transformers[torch]>=4.28.1,<5
torch>=1.13.1,<2

# datasets
# bitsandbytes
# scipy
# sentencepiece
# triton
# einops
# safetensors
# langchain
